/* RESET E CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #FDF9EE; /* Cor de fundo creme suave */
    color: #2B1608; /* Marrom escuro para contrastar suavemente */
    font-family: 'Short Stack', cursive, sans-serif;
    overflow-x: hidden;
}


/* CABEÇALHO */
.main-header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 40px;
    border-bottom: 2px solid #D9A05B; /* Linha divisória ocre */
    background-color: #FDF9EE;
}




.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 40px;
}


.nav-menu a {
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    transition: color 0.3s;
}


.nav-menu a:hover {
    color: #D96B27;
}


.header-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}


.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ÁREA HERO (CONTEÚDO PRINCIPAL) */
.hero-section {
    position: relative;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.hero-title-container {
    text-align: center;
    position: relative;
    z-index: 10;
    position: static;
}


.main-title {
    font-family: 'Spicy Rice', serif; /* Fonte block/retro volumosa */
    font-size: 110px;
    color: #F4BE2C; /* Amarelo principal */
    text-shadow: 4px 4px 0px #702517; /* Sombra sólida marrom avermelhada */
    line-height: 0.9;
    letter-spacing: 2px;
}


.cursive-subtitle {
    font-family: 'Caveat', cursive;
    font-size: 45px;
    color: #2B1608;
    line-height: 0.85;
    transform: rotate(-10deg);
    margin-top: 15px;
    margin-left: 180px;
    text-align: left;
}





